* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
}

img {
    width: 500px;
    position:fixed; right: 0;
}

footer {
    position:absolute;
    bottom:0;
    font-size: 12px;
}